.header {
  max-width: var(--layout-width);
  margin-inline: auto;
  padding-inline: var(--layout-padding);
  margin-top: 5rem;
}

.backBtn {
  display: inline-flex;
  align-items: center;
  padding: 0.8rem 2.4rem;
  gap: 1rem;
  cursor: pointer;
  font-size: 1.6rem;
  text-transform: capitalize;
  border: none;
  background-color: var(--color-bg);
  border-radius: 0.4rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  transition: 0.2s transform;
}

.backBtn:active {
  transform: scale(0.98);
}

.backIcon {
  font-size: 2.8rem;
  color: inherit;
}
