.container {
  max-width: var(--layout-width);
  margin-inline: auto;
  margin-block: 2rem;
  padding: 5rem var(--layout-padding);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(50rem, 1fr);
  gap: 4rem;
}

.imgContainer img {
  width: 90%;
  aspect-ratio: 7/5;
}

.countryDetails h1 {
  margin-bottom: 2rem;
  font-size: 2.8rem;
  text-transform: capitalize;
}

.detailList {
  display: flex;
  justify-content: space-between;
}

.detailList ul {
  list-style: none;
  font-size: 1.6rem;
}

.detailList ul li {
  margin-bottom: 1rem;
  font-weight: 600;
}

.detailList ul li span {
  color: var(--color-text-2);
  font-weight: 300;
}

.borderTitle {
  font-size: 1.6rem;
  font-weight: 600;
}

.border {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.borders {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.borders > * {
  width: max-content;
}

.linkBtn {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  padding: 0.4rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

@media screen and (max-width: 580px) {
  .container {
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
  }

  .imgContainer img {
    width: 100%;
    aspect-ratio: 7/5;
  }
}
