.container {
  max-width: var(--layout-width);
  margin: 0 auto;
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-content: space-between;
  padding-inline: var(--layout-padding);
}

.link {
  text-decoration: "none";
  color: "inherit";
}
