.country {
  max-width: 36rem;
  height: 40rem;
  display: grid;
  justify-self: center;
  grid-template-rows: 1fr 1fr;
  background-color: var(--color-bg-2);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 0.6rem;
}

.countryImage {
  overflow: hidden;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.countryImage img {
  width: 100%;
  height: 100%;
  display: block;
}

.countryDetails {
  padding: 2rem;
}

.countryTitle {
  font-size: 1.8rem;
  margin-block: 2rem;
}

.countryText {
  font-size: 1.5rem;
  font-weight: 600;
}

.countryText > span {
  color: var(--color-text-2);
  font-weight: 300;
}
