.header {
  width: 100%;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  background-color: var(--color-bg-2);
}

.headerContainer {
  width: 100%;
  max-width: var(--layout-width);
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--layout-padding);
}

.headerLink {
  text-decoration: none;
  color: inherit;
}

.themeControl {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.themeToggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.themeIcon {
  font-size: 2.4rem;
  color: var(--blue-950);
}

.icondark {
  color: var(--color-text);
}

.themeLabel {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
}

.searchComponents {
  max-width: var(--layout-width);
  display: flex;
  justify-content: space-between;
}
