.form {
  max-width: var(--layout-width);
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
  padding-inline: var(--layout-padding);
}

.formControl {
  width: min(100%, 45rem);
  display: grid;
  grid-template-columns: 4rem 1fr;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  background-color: var(--color-bg-2);
  border-radius: 0.4rem;
}

.formControl label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchIcon {
  font-size: 1.6rem;
  color: var(--color-text);
}

.formSearchInput {
  width: 100%;
  padding: 1.6rem 1rem;
  border: none;
  outline: none;
  color: var(--color-text);
  font-size: 1.6rem;
  background-color: transparent;
}

.formSearchInput::placeholder {
  color: var(--color-text);
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  .form {
    flex-direction: column;
    gap: 5rem;
  }
}
